<table class="table container">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Login</th>
    <th scope="col">Profile</th>
    <th scope="col">Status</th>
    <th scope="col">Email</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listData">
    <td>{{item.nom}}</td>
    <td>{{item.prenom}}</td>
    <td>{{item.login}}</td>
    <td>{{item.profile}}</td>
    <td>{{item.status}}</td>
    <td>{{item.email}}</td>
    <th > <i (click)="deleteStudent(item.id)"><img src="./assets/trash.svg" alt=""></i>
    </th>
  </tr>

  </tbody>
</table>
