<div class="col-md-6">
    <form [formGroup]="addPresence" (ngSubmit)="savePresence()">
        <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" formControlName="date" >
          </div>
        <div class="mb-3">
          <label  class="form-label">Apprenant</label>
          <input type="text" class="form-control" formControlName="apprenant" >
        </div>
        <div class="mb-3">
          <label  class="form-label">Formateur</label>
          <input type="text" class="form-control" formControlName="formateur" >
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
